.page {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	height: auto;
	background: white;
}

.page-padding-t {
	padding-top: 4em;
}
.page-padding-b {
	padding-bottom: 4em;
}

.page-padding {
	padding: 4em 0;
}